* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Proxima Nova;
}
@font-face {
    font-family: Proxima Nova;
    src: url('../fonts/ProximaNova-Regular.woff2');
}
$darktext: #231f20;
$greytext: #5f6369;
$greyborder: 1px solid #d7d8d6;
$normal: 0.06em;
$double: 0.12em;
html, body {
    max-width: 100%;
    overflow-x: hidden;
    a { text-decoration: none; }
    li { list-style: none; }
    h1, h2, h3, h4,h5, h6 { font-weight: normal; }
    .container-n { padding: 0 10px; }
}
header {
    position: fixed;
    z-index: 10;
    background-color: #ffffff;
    width: 100%;
    transition: 0.4s top cubic-bezier(.3, .73, .3, .74);
    ul { padding-left: 0; }
    a { color: $darktext; }
    .top-header, .nav-1, .nav-2 {
        position: relative;
        &::after {
            content: "";
            position: absolute;
            left: -10px;
            bottom: -1px;
            width: 105vw;
            height: 1px;
            background-color: #f5f5f5;
        }
    }
    .top-header {
        padding: 10px 0;
        .left {
            .side-menu-btn img {
                margin: 5px 15px 0 0;
                width: 24px;
            }
            .logo {
                width: 120px;
                img { width: 100%; }
            }
        }
        .right {
            .icons {
                img { margin-right: 6px; }
                img:last-child {
                    margin-right: 8px;
                    width: 22px;
                }
            }
            span {
                font-size: 12px;
                letter-spacing: $double;
                border-left: 1px solid #ededed;
                padding: 7px 0 7px 10px;
            }
        }
    }
    .nav-1 {
        font-size: 12px;
        padding-top: 16px;
        li {
            padding-bottom: 16px;
            a {
                height: 18px;
                color: $greytext;
                letter-spacing: $double;
            }
            &.active {
                border-bottom: 2px solid #faa61a;
                a { color: $darktext; }
            }
            &:not(:first-child) { margin-left: 5px; }
        }
        .online {
            display: inline-block;
            background-color: #faa61a;
            color: #ffffff;
            letter-spacing: 0.04em;
            text-align: center;
            padding: 7px;
            border-radius: 5px;
            margin-top: -17px;
        };
    }
    .nav-2 {
        ul {
            padding: 7px 0 8px;
            margin-bottom: 0;
            li {
                margin-right: 20px;
                letter-spacing: $normal;
                position: relative;
                &.active::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: -7px;
                    background-color: #faa61a;
                    width: 100%;
                    height: 2px;
                }
            }
        }
        &::before{
            content: "";
            position: absolute;
            width: 35px;
            background: linear-gradient(90deg, rgba(255,255,255,0.38139005602240894) 0%, rgba(255,255,255,0.8519782913165266) 49%, #ffffff 100%);            right: -1px;
            top: 0px;
            height: 100%;
        }
    }
    
}
#Whelp {
    right: 24px;
    bottom: 24px;
    z-index: 1;
    background-color: #ffa300;
    padding: 8px;
    border-radius: 50%;
    img{
        width: 44px;
        padding: 2px;
    }
}
footer {
    ul {
        margin: 0;
        position: relative;
        &:not(:last-of-type){
            padding: 20px 0;
            &::after {
                content: "";
                position: absolute;
                left: -10px;
                bottom: 0;
                width: 105vw;
                height: 1px;
                background-color: #f5f5f5;
            }
        }
        &.social-icons {
            margin-left: -7px;
            li {
                margin: 15px 0 0 14px;
                a {
                    background-color: #f5f5f5;
                    width: 46px;
                    height: 46px;
                    border-radius: 50%;
                    display: table-cell;
                    text-align: center;
                    vertical-align: middle;   
                }
            }
        }
        &.contact li {
            margin: 0 0 10px;
            text-align: center;
            img { margin-right: 5px; }
            span { color: #474c54; }
        }
        &:last-of-type {
            padding: 0;
            li { margin: 20px 15px 0 0; }
        }
    }
    .copyright {
        color: $greytext;
        font-size: 18px;
        line-height: 160%;
        letter-spacing: $normal;
        padding: 20px 0;
        border-top: 1px solid #c5c6c455;
        margin: 20px 0 0;
    }
}
main {
    z-index: -1;
    #Slider {
        .slider-card {
            height: 420px;
            padding-bottom: 15px;
            img { height: 185px; }
            h1, p, a { margin: 15px 0 0; }
            h1 { font-size: 24px; }
            p {
                font-size : 14px;
                color: $greytext;
            }
            a {
                color: $darktext;
                background-color: #f9c20a;
                font-size: 14px;
                letter-spacing: $double;
                padding: 16px 30px;
                border-radius: 8px;
            }
        }
    }
    .buttons {
        display: flex;
        overflow-x: scroll;
        padding: 28px 0 0;
        border-bottom: $greyborder;
        p, span {
            display: inline-block;
            color: $greytext;
            font-size: 14px;
            letter-spacing: $normal;
            white-space: nowrap;
            padding: 14px 0;
            margin: 0;
            &:not(:last-child) { margin-right: 20px; }
            &.active {
                color: $darktext;
                border-bottom: 1px solid $greytext;
            }
        }
    }
    .grey-btn {
        background-color: #f5f5f5;
        color: $darktext;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: $normal;
        text-align: center;
        white-space: nowrap;
        padding: 16px 0;
        border-radius: 8px;
        cursor: pointer;
        &:hover { background-color: #faa61a; }
        &:focus, &:active { background-color: #f58220; }
    }
    #InterestNews {
        background-color: #f5f5f5;
        padding-bottom: 20px;
        .interest-row {
            margin: 0 -22px;
            .interest-card {
                background-color: #ffffff;
                display: block;
                min-width: 325px;
                width: 325px;
                height: 400px;
                padding-bottom: 24px;
                border-radius: 8px;
                margin: 22px 5px 0 20px;
                .interest-image {
                    top: -15px;
                    width: 100%;
                    height: 180px;
                    text-align: center;
                    img { height: 100%; }
                }
                .interest-content {
                    padding: 0 20px 32px;
                    h4 {
                        color: $greytext;
                        font-size: 10px;
                        line-height: 16px;
                        letter-spacing: $double;
                        padding: 6px 12px;
                        border: $greyborder;
                        border-radius: 4px;
                    }
                    h3 {
                        font-size: 16px;
                        line-height: 120%;
                        letter-spacing: $normal;
                        margin-top: 20px;
                    }
                    a {
                        margin-top: 18px;
                    }
                }
            }
        }
        .news {
            padding-top: 20px;
            .news-row {
                margin: 0 -15px;
                .news-card {
                    background-color: #ffffff;
                    min-width: 326px;
                    min-height: 280px;
                    padding: 32px;
                    border-radius: 8px;
                    margin: 0 17px;
                    cursor: pointer;
                    h5 {
                        color: $darktext;
                        font-size: 18px;
                        line-height: 160%;
                        letter-spacing: $normal;

                    }
                    p {
                        bottom: 25px;
                        color: $greytext;
                    }
                }
            }
            a {
                background-color: #ffffff;
                margin-top: 35px;
            }
        }
    }
    #LoansCurrency {
        table {
            white-space: nowrap;
            margin: 25px 0;
            border-collapse: separate;
            th, td {
                font-size: 14px;
                line-height: 160%;
                letter-spacing: $normal;
                text-align: center;
                padding: 15px;
                border-bottom: $greyborder;
                &.title { color: #616173; }
            }
            th {
                img { margin: -5px 20px 0 0; }
                &:not(.title) {
                    font-size: 18px;
                    line-height: 34px;
                }
            }
        }
        p.exchange-alert {
            color: #000000;
            font-size: 18px;
            padding: 0 0 110px;
            margin: 15px 0 0;
        }
    }
    #Download {
        background: url('https://expressbank.az/img/24bg.png') no-repeat center center;
        background-size: cover;
        padding: 150px 0 40px;
        .invisible-img-div {
            position: relative;
            img {
                position: absolute;
                transform: translateX(-50%);
                left: 50%;
                bottom: 0;
                max-height: 200px;
            }
        }
        .download-content {
            color: #ffffff;
            letter-spacing: $normal;
            margin: 0 0 20px;
            h3 {
                font-size: 20px;
                line-height: 120%;
                margin: 0;
            }
            p {
                font-size: 16px;
                line-height: 160%;
                margin: 10px 0 0;
            }
        }
        .download-btns {
            a {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                background-color: #ffffff;
                color: $darktext;
                min-width: 165px;
                min-height: 56px;
                font-size: 16px;
                padding: 0 10px;
                border: $greyborder;
                border-radius: 8px;
                margin: 10px 10px 0 0;
                &:last-child {
                    font-size: 14px;
                    margin-right: 0;
                }
                img {
                    display: inline-flex;
                    margin-right: 5px;
                }
            }
        }
    }
    .page-title {
        background: url('https://expressbank.az/img/24bg.png') no-repeat center center;
        background-size: cover;
        color: #ffffff;
        letter-spacing: $normal;
        h3 {
            font-size: 24px;
            font-weight: 800;
            line-height: 110%;
            padding: 15px 0 0;
            margin: 0;
        }
        p {
            font-size: 14px;
            padding: 0 0 15px;
            margin: 10px 0 0;
        }
    }
    #Loans, #Cards {
        background-color: #f5f5f5;
        .card-box {
            background-color: #ffffff;
            padding-bottom: 24px;
            border-radius: 8px;
            margin: 70px 5px;
            .card-image {
                position: relative;
                min-height: 250px;
                margin-top: -20px;
                img {
                    position: absolute;
                    height: 250px;
                    display: inline-block;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                }
            }
            .card-content {
                padding: 0 24px;
                color: $darktext;
                h4 {
                    font-size: 24px;
                    font-weight: 600;
                    margin: 20px 0 10px;
                }
                p {
                    color: $greytext;
                    font-size: 14px;
                    line-height: 140%;
                    letter-spacing: $normal;
                    margin: 0 0 22px;
                }
                .list-container {
                    position: relative;
                    ul {
                        padding: 0 0 15px;
                        margin: 0;
                        &::before{
                            content: "";
                            position: absolute;
                            right: 0;
                            top: 0;
                            width: 35px;
                            height: 100%;
                            background: linear-gradient(90deg, rgba(255,255,255,0.38139005602240894) 0%, rgba(255,255,255,0.8519782913165266) 49%, #ffffff 100%);            right: -1px;
                        }
                        li {
                            min-width: 110px;
                            max-width: 110px;
                            text-align: center;
                            padding: 0 8px 0 0;
                            border-right: $greyborder;
                            margin: 0 8px 0 0;
                            &:last-child {
                                padding: 0;
                                border: none;
                                margin: 0;
                            }
                            h5 {
                                font-size: 16px;
                                font-weight: 600;
                                margin: 0 0 10px;
                            }
                            p {
                                font-size: 13px;
                                letter-spacing: $normal;
                                margin: 0;
                            }
                        }
                    }
                }
                a {
                    display: block;
                    background-color: #f9c20a;
                    color: $darktext;
                    font-size: 14px;
                    line-height: 16px;
                    letter-spacing: $double;
                    text-align: center;
                    padding: 16px 30px;
                    border-radius: 8px;
                    margin-bottom: 5px;
                    &.white-btn {
                        background-color: #ffffff;
                        color: $greytext;
                        border: $greyborder;
                    }
                }
            }
        }
    }
    .form {
        padding: 48px 26px 97px;
        h3 {
            color: $darktext;
            font-size: 18px;
            font-weight: 600;
            line-height: 130%;
            letter-spacing: $normal;
            margin: 0 0 18px;
        }
        p {
            color: $greytext;
            font-size: 14px;
            line-height: 140%;
            letter-spacing: $normal;
            margin: 0 0 32px;
        }
        .form-element {
            margin-bottom: 16px;
            input {
                background-color: #ffffff;
                width: 100%;
                height: 75px;
                font-size: 18px;
                line-height: 24px;
                letter-spacing: 0.03em;
                padding: 0 24px;
                border: $greyborder;
                border-radius: 8px;
                cursor: text;
                &:focus { outline: 2px solid #faa61a; }
            }
        }
        button {
            background-color: #f9c20a;
            color: $darktext;
            width: 100%;
            font-size: 14px;
            line-height: 24px;
            padding: 16px 0;
            border: none;
            border-radius: 8px;
            &:hover { background-color: #faa61a; }
            &:focus, &:active { background-color: #f58220; }
        }
    }
}