header {
  z-index: 10;
  background-color: #ffffff;
  width: 100%;
  transition: 0.4s top cubic-bezier(0.3, 0.73, 0.3, 0.74);
}
header ul {
  padding-left: 0;
}
header a {
  color: #231f20;
}
header .top-header, header .nav-1, header .nav-2 {
  position: relative;
}
header .top-header::after, header .nav-1::after, header .nav-2::after {
  content: "";
  position: absolute;
  left: -10px;
  bottom: -1px;
  width: 105vw;
  height: 1px;
  background-color: #f5f5f5;
}
header .top-header {
  height: 63.4px;
  padding: 10px 0;
}
header .top-header .left .side-menu-btn {
  margin: 5px 15px 0 0;
}
header .top-header .left .side-menu-btn img {
  width: 24px;
  height: 38.4px;
}
header .top-header .left .logo {
  width: 120px;
}
header .top-header .left .logo img {
  width: 100%;
}
header .top-header .right .icons img:first-child {
  margin: 2px 6px 0 0;
}
header .top-header .right .icons ul {
  display: flex;
  align-items: center;
  margin: 0;
}
header .top-header .right .icons ul li {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .top-header .right .icons ul li:first-child {
  position: relative;
  margin: 2px 15px 0 0;
}
header .top-header .right .icons ul li:first-child i {
  color: #faa61a;
  font-size: 18px;
}
header .top-header .right .icons ul li:first-child small {
  position: absolute;
  right: -12px;
  top: -10px;
  background-color: #231f20;
  color: #ffffff;
  font-size: 12px;
  width: 18px;
  text-align: center;
  border-radius: 50%;
}
header .top-header .right .icons ul li a img {
  width: 22px;
}
header .top-header .right span {
  color: #231f20;
  font-size: 12px;
  letter-spacing: 0.12em;
}
header .top-header .right span.lang {
  border-left: 1px solid #ededed;
  padding: 7px 0 7px 10px;
}
header .top-header .right span.dropdown-item {
  display: block;
  width: 100%;
  line-height: 16px;
  padding: 4px 24px 12px;
}
header .top-header .right span.dropdown-item.selected {
  color: #a9abac;
}
header .top-header .right .my-dropdown-menu {
  position: absolute;
  top: 45px;
  right: -7px;
  z-index: 5;
  display: none;
  width: 68.6px;
  background-color: #ffffff;
  padding: 8px 0;
  border: 1px solid rgba(0, 0, 0, 0.0862745098);
  border-radius: 8px;
  margin: 2px 0 0;
}
header .top-header .right .my-dropdown-menu .fa-angle-up {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: -14px;
  background-color: #ffffff;
  color: #eeeeee;
  width: 15px;
  font-size: 20px;
}
header .nav-1 {
  font-size: 12px;
  padding-top: 16px;
}
header .nav-1 li {
  padding-bottom: 16px;
}
header .nav-1 li a {
  height: 18px;
  color: #5f6369;
  letter-spacing: 0.12em;
}
header .nav-1 li.active {
  border-bottom: 2px solid #faa61a;
}
header .nav-1 li.active a {
  color: #231f20;
}
header .nav-1 li:not(:first-child) {
  margin-left: 5px;
}
header .nav-1 .online {
  display: inline-block;
  background-color: #faa61a;
  color: #ffffff;
  letter-spacing: 0.04em;
  text-align: center;
  padding: 7px;
  border-radius: 5px;
  margin-top: -17px;
}
header .nav-2 ul {
  padding: 7px 0 8px;
  margin-bottom: 0;
}
header .nav-2 ul li {
  margin-right: 20px;
  letter-spacing: 0.06em;
  position: relative;
}
header .nav-2 ul li.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -7px;
  background-color: #faa61a;
  width: 100%;
  height: 2px;
}
header .nav-2::before {
  content: "";
  z-index: 4;
  position: absolute;
  width: 35px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.381390056) 0%, rgba(255, 255, 255, 0.8519782913) 49%, #ffffff 100%);
  right: -1px;
  top: 0px;
  height: 100%;
}

.side-menu ul {
  padding: 0;
  margin: 0;
}
.side-menu ul li {
  padding: 0;
}
.side-menu ul li a {
  display: block;
  color: #231f20;
  font-size: 14px;
  padding: 14px 20px;
}
.side-menu ul li a img {
  margin-right: 5px;
}
.side-menu ul li a.title {
  background-color: #f5f5f5;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.12em;
}
.side-menu ul li ul li a {
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.015em;
}
.side-menu ul.contact li span {
  color: #474c54;
}
.side-menu ul.contact li:last-child span {
  font-size: 16px;
}
.side-menu ul.social-icons {
  margin: 0 0 40px -7px;
}
.side-menu ul.social-icons li {
  margin: 15px 0 0 14px;
}
.side-menu ul.social-icons li a {
  background-color: #f5f5f5;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding: 0;
}
.side-menu ul.social-icons li a img {
  margin: 0;
}
.side-menu a.online {
  display: block;
  background-color: #faa61a;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0.04em;
  text-align: center;
  padding: 7px;
  border-radius: 5px;
  margin: 14px 20px;
}

.shadow {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  display: none;
  background-color: #000000;
  opacity: 0.7;
  width: 100%;
  height: 100%;
}

.search-input {
  position: fixed;
  left: 10px;
  top: 5px;
  z-index: 11;
  display: none;
  background-color: #ffffff;
  width: calc(100% - 20px);
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.03em;
  padding: 8px 10px;
  border: 1px solid #d7d8d6;
  border-radius: 4px;
}

.search-btn {
  position: fixed;
  right: 10px;
  top: 5px;
  z-index: 11;
  display: none;
  background-color: #f9c20a;
  padding: 7.5px 10px;
  border-radius: 4px;
}
.search-btn img {
  width: 24px;
}

#Whelp {
  right: 24px;
  bottom: 24px;
  z-index: 11;
  background-color: #ffa300;
  padding: 8px;
  border-radius: 50%;
}
#Whelp img {
  width: 44px;
  padding: 2px;
}

footer ul {
  margin: 0;
  position: relative;
}
footer ul:not(:last-of-type) {
  padding: 20px 0;
}
footer ul:not(:last-of-type)::after {
  content: "";
  position: absolute;
  left: -10px;
  bottom: 0;
  width: 105vw;
  height: 1px;
  background-color: #f5f5f5;
}
footer ul.social-icons {
  margin-left: -7px;
}
footer ul.social-icons li {
  margin: 15px 0 0 14px;
}
footer ul.social-icons li a {
  background-color: #f5f5f5;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
footer ul.contact li {
  margin: 0 0 10px;
  text-align: center;
}
footer ul.contact li img {
  margin-right: 5px;
}
footer ul.contact li span {
  color: #474c54;
}
footer ul:last-of-type {
  padding: 0;
}
footer ul:last-of-type li {
  margin: 20px 15px 0 0;
}
footer .copyright {
  color: #5f6369;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0.06em;
  padding: 20px 0;
  border-top: 1px solid rgba(197, 198, 196, 0.3333333333);
  margin: 20px 0 0;
}

main .my-btn {
  display: block;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.06em;
  text-align: center;
  white-space: nowrap;
  padding: 16px 30px;
  border-radius: 8px;
  cursor: pointer;
}
main .my-btn.yellow-btn, main .my-btn.grey-btn {
  color: #231f20;
}
main .my-btn.yellow-btn:hover, main .my-btn.grey-btn:hover {
  background-color: #faa61a;
}
main .my-btn.yellow-btn:focus, main .my-btn.yellow-btn:active, main .my-btn.grey-btn:focus, main .my-btn.grey-btn:active {
  background-color: #f58220;
}
main .my-btn.yellow-btn {
  background-color: #f9c20a;
}
main .my-btn.grey-btn {
  background-color: #f5f5f5;
}
main .my-btn.white-btn {
  background-color: #ffffff;
  color: #5f6369;
  border: 1px solid #d7d8d6;
}
main .buttons {
  display: flex;
  overflow-x: scroll;
  padding: 28px 0 0;
  border-bottom: 1px solid #d7d8d6;
}
main .buttons p, main .buttons span {
  display: inline-block;
  color: #5f6369;
  font-size: 14px;
  letter-spacing: 0.06em;
  white-space: nowrap;
  padding: 14px 0;
  margin: 0;
}
main .buttons p:not(:last-child), main .buttons span:not(:last-child) {
  margin-right: 20px;
}
main .buttons p.active, main .buttons span.active {
  color: #231f20;
  border-bottom: 1px solid #5f6369;
}
main #Slider .slider-card {
  height: 420px;
  padding-bottom: 15px;
}
main #Slider .slider-card img {
  height: 185px;
}
main #Slider .slider-card h1, main #Slider .slider-card p, main #Slider .slider-card a {
  margin: 15px 0 0;
}
main #Slider .slider-card h1 {
  font-size: 24px;
}
main #Slider .slider-card p {
  font-size: 14px;
  color: #5f6369;
}
main #InterestNews {
  background-color: #f5f5f5;
  padding-bottom: 20px;
}
main #InterestNews .interest-row {
  margin: 0 -22px;
}
main #InterestNews .interest-row .interest-card {
  background-color: #ffffff;
  display: block;
  min-width: 325px;
  width: 325px;
  height: 400px;
  padding-bottom: 24px;
  border-radius: 8px;
  margin: 22px 5px 0 20px;
}
main #InterestNews .interest-row .interest-card .interest-image {
  top: -15px;
  width: 100%;
  height: 180px;
  text-align: center;
}
main #InterestNews .interest-row .interest-card .interest-image img {
  height: 100%;
}
main #InterestNews .interest-row .interest-card .interest-content {
  padding: 0 20px 32px;
}
main #InterestNews .interest-row .interest-card .interest-content h4 {
  color: #5f6369;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0.12em;
  padding: 6px 12px;
  border: 1px solid #d7d8d6;
  border-radius: 4px;
}
main #InterestNews .interest-row .interest-card .interest-content h3 {
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0.06em;
  margin-top: 20px;
}
main #InterestNews .interest-row .interest-card .interest-content a {
  margin-top: 18px;
}
main #InterestNews .news {
  padding-top: 20px;
}
main #InterestNews .news .news-row {
  margin: 0 -15px;
}
main #InterestNews .news .news-row .news-card {
  background-color: #ffffff;
  min-width: 326px;
  min-height: 280px;
  padding: 32px;
  border-radius: 8px;
  margin: 0 17px;
  cursor: pointer;
}
main #InterestNews .news .news-row .news-card h5 {
  color: #231f20;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0.06em;
}
main #InterestNews .news .news-row .news-card p {
  bottom: 25px;
  color: #5f6369;
}
main #InterestNews .news a {
  background-color: #ffffff;
  margin-top: 35px;
}
main #LoansCurrency {
  margin-bottom: 20px;
}
main #LoansCurrency .tab {
  padding: 20px 0;
}
main #LoansCurrency .tab .mortgage.gold {
  padding: 24px 0 0;
}
main #LoansCurrency .tab .mortgage.gold h4 {
  color: #000000;
  font-size: 24px;
  letter-spacing: 0.06em;
}
main #LoansCurrency .tab .mortgage.gold .calc-container {
  background: #FFFFFF;
  box-shadow: 0px 16px 56px rgba(0, 0, 0, 0.16);
  padding: 20px;
  border-radius: 16px;
  margin: 20px 0;
}
main #LoansCurrency .tab .mortgage.gold .calc-container .calc-title {
  color: #231f20;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0.06em;
  margin: 0 0 20px;
}
main #LoansCurrency .tab .mortgage.gold .calc-container .input-container {
  height: 442px;
}
main #LoansCurrency .tab .mortgage.gold .calc-container .input-container .form-element {
  position: relative;
  display: block;
  background-color: #ffffff;
  height: 75px;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.03em;
  padding: 20px 24px 0 34px;
  border: 1px solid #d7d8d6;
  border-radius: 8px;
  margin-bottom: 25px;
}
main #LoansCurrency .tab .mortgage.gold .calc-container .input-container .form-element select {
  position: absolute;
  left: 4%;
  bottom: 10px;
  width: 36%;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.03em;
  padding: 5px 10px;
  border: none;
  border-radius: 8px;
}
main #LoansCurrency .tab .mortgage.gold .calc-container .input-container .group-label {
  position: absolute;
  left: 35px;
  top: 10px;
  color: #5f6369;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}
main #LoansCurrency .tab .mortgage.gold .calc-container .input-container .value {
  position: absolute;
  left: 35px;
  top: 55%;
  margin-top: -8px;
}
main #LoansCurrency .tab .mortgage.gold .calc-container .input-container p.azn {
  position: absolute;
  right: 10px;
  top: 50%;
  display: inline-block;
  color: #231f20;
  font-size: 16px;
  letter-spacing: 0.03em;
  border-bottom: 1px solid #faa61a;
  margin: -8px 0 0;
  cursor: pointer;
}
main #LoansCurrency .tab .mortgage.gold .calc-container .input-container #PercentSlider {
  background: linear-gradient(90deg, #ffde71 55%, #e2e2e2 55%);
}
main #LoansCurrency .tab .mortgage.gold .calc-container .input-container #PercentSlider::-webkit-slider-thumb {
  position: absolute;
  right: 40%;
  bottom: -6px;
  background-color: #ffffff;
  opacity: 0.5;
}
main #LoansCurrency .tab .mortgage.gold .calc-container .input-container input {
  position: absolute;
  left: 7px;
  bottom: 0;
  background: linear-gradient(90deg, #e2e2e2 60%, #e2e2e2 60%);
  width: 95%;
  height: 5px;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: opacity 0.2s;
  -webkit-transition: 0.2s;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}
main #LoansCurrency .tab .mortgage.gold .calc-container .input-container input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: #ffffff;
  width: 20px;
  height: 20px;
  border: 1px solid #f5f5f5;
  border-radius: 50%;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
main #LoansCurrency .tab .mortgage.gold .calc-container .result-container .results .result {
  display: inline-block;
  letter-spacing: 0.06em;
}
main #LoansCurrency .tab .mortgage.gold .calc-container .result-container .results .result:first-child {
  padding-right: 30px;
  border-right: 1px solid #d7d8d6;
  margin-right: 30px;
}
main #LoansCurrency .tab .mortgage.gold .calc-container .result-container .results .result p {
  color: #231f20;
  font-size: 18px;
  font-weight: 600;
}
main #LoansCurrency .tab .mortgage.gold .calc-container .result-container .results .result p:last-child {
  color: #5f6369;
  font-size: 16px;
  line-height: 120%;
  padding: 5px 0 0;
}
main #LoansCurrency .currency .buttons {
  height: 59px;
  padding: 22px 0 0;
}
main #LoansCurrency .currency .buttons p, main #LoansCurrency .currency .buttons span {
  height: 35px;
  padding: 0 0 17px;
  margin: 0 20px 0 0;
}
main #LoansCurrency .currency table {
  white-space: nowrap;
  margin: 25px 0;
  border-collapse: separate;
}
main #LoansCurrency .currency table th, main #LoansCurrency .currency table td {
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0.06em;
  text-align: center;
  padding: 15px;
  border-bottom: 1px solid #d7d8d6;
}
main #LoansCurrency .currency table th.title, main #LoansCurrency .currency table td.title {
  color: #616173;
}
main #LoansCurrency .currency table th img {
  margin: -5px 20px 0 0;
}
main #LoansCurrency .currency table th:not(.title) {
  font-size: 18px;
  line-height: 34px;
}
main #LoansCurrency .currency p.exchange-alert {
  color: #000000;
  font-size: 18px;
  padding: 0 0 110px;
  margin: 15px 0 0;
}
main #Download {
  background: url("https://expressbank.az/img/24bg.png") no-repeat center center;
  background-size: cover;
  padding: 150px 0 40px;
}
main #Download .invisible-img-div {
  position: relative;
}
main #Download .invisible-img-div img {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: 0;
  max-height: 200px;
}
main #Download .download-content {
  color: #ffffff;
  letter-spacing: 0.06em;
  margin: 0 0 20px;
}
main #Download .download-content h3 {
  font-size: 20px;
  line-height: 120%;
  margin: 0;
}
main #Download .download-content p {
  font-size: 16px;
  line-height: 160%;
  margin: 10px 0 0;
}
main #Download .download-btns a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: #231f20;
  min-width: 165px;
  min-height: 56px;
  font-size: 16px;
  padding: 0 10px;
  border: 1px solid #d7d8d6;
  border-radius: 8px;
  margin: 10px 10px 0 0;
}
main #Download .download-btns a:last-child {
  font-size: 14px;
  margin-right: 0;
}
main #Download .download-btns a img {
  display: inline-flex;
  margin-right: 5px;
}
main .page-title {
  background: url("https://expressbank.az/img/24bg.png") no-repeat center center;
  background-size: cover;
  color: #ffffff;
  letter-spacing: 0.06em;
}
main .page-title h3 {
  font-size: 24px;
  font-weight: 800;
  line-height: 110%;
  padding: 15px 0 0;
  margin: 0;
}
main .page-title p {
  font-size: 14px;
  padding: 0 0 15px;
  margin: 10px 0 0;
}
main .page-title .subtitle {
  padding: 15px 0;
}
main .page-title .subtitle ul.breadcrumb {
  margin: 0 0 15px;
}
main .page-title .subtitle ul.breadcrumb li {
  font-size: 15px;
  line-height: 18px;
  padding: 0;
  margin: 0 16px 0 0;
}
main .page-title .subtitle h3 {
  padding: 0 0 10px;
}
main #Loans, main #Cards, main .cards {
  background-color: #f5f5f5;
}
main #Loans .card-container, main #Cards .card-container, main .cards .card-container {
  margin: 48px 0 0;
}
main #Loans .card-container:last-child, main #Cards .card-container:last-child, main .cards .card-container:last-child {
  padding-bottom: 48px;
}
main #Loans .card-container .card-box, main #Cards .card-container .card-box, main .cards .card-container .card-box {
  background-color: #ffffff;
  height: 100%;
  padding-bottom: 24px;
  border-radius: 8px;
}
main #Loans .card-container .card-box .card-image, main #Cards .card-container .card-box .card-image, main .cards .card-container .card-box .card-image {
  position: relative;
  min-height: 230px;
}
main #Loans .card-container .card-box .card-image img, main #Cards .card-container .card-box .card-image img, main .cards .card-container .card-box .card-image img {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: -20px;
  height: 250px;
}
main #Loans .card-container .card-box .card-content, main #Cards .card-container .card-box .card-content, main .cards .card-container .card-box .card-content {
  padding: 0 24px;
  color: #231f20;
}
main #Loans .card-container .card-box .card-content h4, main #Cards .card-container .card-box .card-content h4, main .cards .card-container .card-box .card-content h4 {
  font-size: 24px;
  font-weight: 600;
  margin: 20px 0 10px;
}
main #Loans .card-container .card-box .card-content p, main #Cards .card-container .card-box .card-content p, main .cards .card-container .card-box .card-content p {
  color: #5f6369;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.06em;
  margin: 0 0 22px;
}
main #Loans .card-container .card-box .card-content .list-container, main #Cards .card-container .card-box .card-content .list-container, main .cards .card-container .card-box .card-content .list-container {
  position: relative;
}
main #Loans .card-container .card-box .card-content .list-container ul, main #Cards .card-container .card-box .card-content .list-container ul, main .cards .card-container .card-box .card-content .list-container ul {
  display: flex;
  overflow-x: scroll;
  padding: 0 0 15px;
  margin: 0;
}
main #Loans .card-container .card-box .card-content .list-container ul::before, main #Cards .card-container .card-box .card-content .list-container ul::before, main .cards .card-container .card-box .card-content .list-container ul::before {
  content: "";
  position: absolute;
  right: -1px;
  top: 0;
  width: 35px;
  height: 100%;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.381390056) 0%, rgba(255, 255, 255, 0.8519782913) 49%, #ffffff 100%);
}
main #Loans .card-container .card-box .card-content .list-container ul li, main #Cards .card-container .card-box .card-content .list-container ul li, main .cards .card-container .card-box .card-content .list-container ul li {
  min-width: 110px;
  max-width: 110px;
  text-align: center;
  padding: 0 8px 0 0;
  border-right: 1px solid #d7d8d6;
  margin: 0 8px 0 0;
}
main #Loans .card-container .card-box .card-content .list-container ul li:last-child, main #Cards .card-container .card-box .card-content .list-container ul li:last-child, main .cards .card-container .card-box .card-content .list-container ul li:last-child {
  padding: 0;
  border: none;
  margin: 0;
}
main #Loans .card-container .card-box .card-content .list-container ul li h5, main #Cards .card-container .card-box .card-content .list-container ul li h5, main .cards .card-container .card-box .card-content .list-container ul li h5 {
  font-size: 16px;
  font-weight: 600;
  margin: 0 0 10px;
}
main #Loans .card-container .card-box .card-content .list-container ul li p, main #Cards .card-container .card-box .card-content .list-container ul li p, main .cards .card-container .card-box .card-content .list-container ul li p {
  font-size: 13px;
  letter-spacing: 0.06em;
  margin: 0;
}
main #Loans .card-container .card-box .card-content a, main #Cards .card-container .card-box .card-content a, main .cards .card-container .card-box .card-content a {
  line-height: 16px;
  letter-spacing: 0.12em;
  margin-bottom: 5px;
}
main .form {
  padding: 48px 26px 97px;
}
main .form h3 {
  color: #231f20;
  font-size: 18px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.06em;
  margin: 0 0 18px;
}
main .form p {
  color: #5f6369;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.06em;
  margin: 0 0 32px;
}
main .form .form-element {
  margin-bottom: 16px;
}
main .form .form-element input {
  background-color: #ffffff;
  width: 100%;
  height: 75px;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.03em;
  padding: 0 24px;
  border: 1px solid #d7d8d6;
  border-radius: 8px;
  cursor: text;
}
main .form .form-element input:focus {
  outline: 2px solid #faa61a;
}
main #Information {
  background-color: #f5f5f5;
}
main #Information .card-container {
  padding-top: 24px;
}
main #Information .card-container:last-child {
  padding-bottom: 24px;
}
main #Information .card-container .box {
  position: relative;
  background-color: #ffffff;
  height: 150px;
  padding-bottom: 24px;
  border-radius: 8px;
}
main #Information .card-container .box .box-img {
  position: absolute;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 150px;
}
main #Information .card-container .box .box-img img {
  width: 90px;
  height: 135px;
}
main #Information .card-container .box .box-content {
  position: absolute;
  left: 120px;
  width: 250px;
}
main #Information .card-container .box .box-content h4 {
  color: #231f20;
  font-size: 16px;
  line-height: 160%;
  margin: 20px 0;
}
main #Information .card-container .box .box-content a {
  display: inline-block;
  line-height: 16px;
}
main #Cart .cards .card-container {
  padding: 24px 0 0;
  margin: 0;
}
main #Cart .cards .card-container:last-child {
  padding-bottom: 24px;
}
main #Cart .cards .card-container .card-box {
  position: relative;
  display: flex;
  height: 150px;
}
main #Cart .cards .card-container .card-box img {
  position: absolute;
  transform: translateY(-50%);
  left: 4px;
  top: 50%;
  height: 100px;
}
main #Cart .cards .card-container .card-box .card-content {
  position: absolute;
  left: 72px;
  width: 220px;
  color: #231f20;
}
main #Cart .cards .card-container .card-box .card-content h4 {
  font-size: 18px;
  font-weight: 600;
  margin: 20px 10px 10px;
}
main #Cart .cards .card-container .card-box .card-content .list-container li {
  padding-right: 4px;
  margin-right: 4px;
}
main #Cart .cards .card-container .card-box .card-content .list-container li h5 {
  font-size: 12px;
  margin: 0 0 5px;
}
main #Cart .cards .card-container .card-box .card-content .list-container li p {
  font-size: 10px;
}
main #Cart .cards .card-container .card-box .cart-content {
  position: absolute;
  right: 16px;
  top: 40px;
  width: 70px;
}
main #Cart .cards .card-container .card-box .cart-content .product-count {
  display: flex;
}
main #Cart .cards .card-container .card-box .cart-content .product-count input {
  width: 56px;
  height: 20px;
  text-align: right;
  padding-right: 5px;
  border-radius: 4px;
  margin-right: 5px;
}
main #Cart .cards .card-container .card-box .cart-content .product-count input:focus {
  border: none;
  outline: 2px solid #faa61a;
}
main #Cart .cards .card-container .card-box .cart-content .product-count .icons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 8px;
}
main #Cart .cards .card-container .card-box .cart-content .price {
  font-size: 14px;
  white-space: nowrap;
  margin: 8px 0 0;
}
main #Cart .cards .card-container .card-box .cart-content .delete-btn {
  display: block;
  background-color: #ff0000;
  color: #ffffff;
  font-size: 12px;
  text-align: center;
  padding: 4px 0;
  border-radius: 4px;
  margin: 12px 0 0;
}

.my-alert {
  position: fixed;
  left: 15px;
  bottom: 15px;
  z-index: 3;
  opacity: 0;
  transition: 1s;
}/*# sourceMappingURL=style.css.map */